<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">

<div layout:fragment="content" class="container">
    <h1>Open Bank Account</h1>
    <form th:action="@{/bankaccount}" method="POST">

        <div class="form-group">
            <label for="inputCustomerId">Customer Id</label>
            <input type="input" class="form-control" name="customerId" id="inputCustomerId">
        </div>

        <div class="form-group">
            <label for="inputType">Type</label>
            <input type="input" class="form-control" name="type" id="inputType">
        </div>

        <div class="form-group">
            <label for="inputBalance">Balance</label>
            <input type="input" class="form-control" name="balance" id="inputBalance">
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>

    <hr>

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">CustomerId</th>
            <th scope="col">Type</th>
            <th scope="col">Balance</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bankaccount: ${allBankAccounts}">
            <td th:text="${bankaccount.id}"></td>
            <td th:text="${bankaccount.customerId}"></td>
            <td th:text="${bankaccount.type}"></td>
            <td th:text="${bankaccount.balance}"></td>
            <td>
                <a class="btn btn-primary float-left mr-md-3"
                   th:href="@{/bankaccount/edit/{id}(id=${bankaccount.id})}">Deposit/Withdraw</a>
                <form th:action="@{/bankaccount/delete/{id}(id=${bankaccount.id})}" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
