<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
<h1>All Customers</h1>

<table border="1px">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Pin</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${allCustomers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.pin}"></td>
    </tr>
    </tbody>
</table>